@import '../../../../styles/mixin.scss';
.header--wrapper {
  background: var(--darkColor);
}
.header__nav-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgb(57 69 86 / 10%);
  color: #212121;
  padding: 10px 0;
  min-height: 40px;
  & svg {
    color: var(--whiteColor);
    cursor: pointer;
  }
  & .MuiOutlinedInput-notchedOutline {
    display: none;
  }
  & .header__nav-basket__title {
    font-size: 10px;
    margin: 0;
    color: var(--whiteColor);
  }
  & .header__nav-badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      transition: all 0.2s;
    }
    &:hover > * {
      color: var(--greenColor);
    }
  }
  & .header__nav-contacts {
    display: flex;
    align-items: center;
    background-color: var(--greenColor);
    padding: 10px 20px;
    border-radius: 25px;
    min-width: 150px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      transition: all 0.2s;
    }
    & p {
      margin: 0;
      text-align: center;
      color: var(--whiteColor);
    }
    & a {
      color: var(--whiteColor);
    }
  }
  & .header__nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  & .header__nav-menu_item {
    color: var(--whiteColor);
    font-size: 12px;
    line-height: 18px;
    transition: all 0.2s;
    transform: scale(1);
    cursor: pointer;
    &:hover {
      color: var(--greenColor);
      transform: scale(1.1);
      transition: all 0.2s;
    }
    @include desktopS {
      font-size: 16px;
    }
  }
  & .header__nav-constrols_group {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  @include tablet {
    .header__nav-menu,
    .header__nav-contacts {
      display: none;
    }
  }
}
