@import '../../../../styles/mixin.scss';
.toolbar_wrapper__inner {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  align-items: center;
  flex-wrap: nowrap;

  & article {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    @include desktop;
  }
}
.toolbar_wrapper {
  box-shadow: 0 4px 20px rgb(57 69 86 / 20%);
}
